<form class="input-section">
  <div class="form-group">
    <input
      B
      class="form-control form-control-lg"
      id="name"
      placeholder="Tên thành viên"
      [(ngModel)]="person.personName"
      [ngModelOptions]="{ standalone: true }"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Chọn thanh viên bằng cách click</small
    >
  </div>

  <div class="form-group text-center">
    <img
      src="{{ hostURL }}{{ person.personImg }}"
      style="width: 120px; height: 120px;"
    />

    <input
      style="display: none"
      class="form-control-file"
      type="file"
      (change)="onFileChanged($event)"
      #fileInput
    />
    <button
      class="form-control-file btn-outline-info"
      (click)="fileInput.click()"
    >
      Select File
    </button>
  </div>

  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      [(ngModel)]="person.personGender"
      id="inlineRadio1"
      value="male"
      [attr.checked]="person.personGender == 'male' ? 'true' : NULL"
    />
    <label class="form-check-label" for="inlineRadio1">Nam</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      [(ngModel)]="person.personGender"
      id="inlineRadio2"
      value="female"
      [attr.checked]="person.personGender == 'female' ? 'true' : NULL"
    />
    <label class="form-check-label" for="inlineRadio2">Nữ</label>
  </div>
  <div>
    <button type="button" (click)="_personChange(person)" class="btn-primary">
      Xác nhận
    </button>
    <button type="button" (click)="_deletePerson(person)" class="btn-danger">
      Xoá
    </button>
  </div>
  <button type="button" (click)="show = !show">
    {{ show ? "Ẩn" : "Hiện" }}
  </button>
  <div *ngIf="show">
    <div class="form-group">
      <input
        class="form-control form-control-lg"
        id="name"
        placeholder="Tên thành viên"
        [(ngModel)]="newPerson.personName"
        [ngModelOptions]="{ standalone: true }"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Tên thành viên mới</small
      >
    </div>
    <div class="form-group text-center">
      <img [src]="previewUrl" style="height:120px; width:120px; " />
      <input
        style="display: none"
        class="form-control-file"
        type="file"
        (change)="onFileChanged2($event)"
        #fileInput2
      />
      <button
        class="form-control-file btn-outline-info"
        (click)="fileInput2.click()"
      >
        Select File
      </button>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions1"
        id="inlineRadio1"
        [(ngModel)]="newPerson.personGender"
        value="male"
        [attr.checked]="newPerson.personGender == 'male' ? 'true' : NULL"
      />
      <label class="form-check-label" for="inlineRadio1">Nam</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="inlineRadioOptions1"
        id="inlineRadio2"
        [(ngModel)]="newPerson.personGender"
        value="female"
        [attr.checked]="newPerson.personGender == 'female' ? 'true' : NULL"
      />
      <label class="form-check-label" for="inlineRadio2">Nữ</label>
    </div>
    <div>
      <button type="button" (click)="_addChild()" class="btn btn-primary">
        Con
      </button>
      <button type="button" (click)="_addParent()" class="btn btn-primary">
        Phụ Huynh
      </button>
      <button type="button" (click)="_addPartner()" class="btn btn-primary">
        Vợ/Chồng
      </button>
    </div>
  </div>
</form>
