<form class="input-section">
  <div class="form-group">
    <input
      B
      class="form-control form-control-lg"
      id="name"
      placeholder="Tên thành viên"
      [(ngModel)]="person.personName"
      [ngModelOptions]="{ standalone: true }"
    />
    <small id="emailHelp" class="form-text text-muted"
      ><i>Chọn thành viên bằng cách click</i></small
    >
  </div>

  <div class="form-group text-center">
    <img src="{{ imgURL }}" style="width: 120px; height: 120px;" />

    <input
      style="display: none"
      class="form-control-file"
      type="file"
      (change)="onFileChanged($event)"
      #fileInput
    />
    <button
      class="btn form-control-file btn-outline-info"
      (click)="fileInput.click()"
    >
      Select File
    </button>
  </div>
  <div class="text-center">
    <div class="form-check form-check-inline ">
      <input
        class="form-check-input inputsex"
        type="radio"
        name="sex1"
        [(ngModel)]="person.personGender"
        value="male"
        [attr.checked]="person.personGender == 'male' ? 'true' : NULL"
        data-icon=""
      />
    </div>

    <div class="form-check form-check-inline">
      <input
        class="form-check-input inputsex"
        type="radio"
        name="sex1"
        [(ngModel)]="person.personGender"
        value="female"
        [attr.checked]="person.personGender == 'female' ? 'true' : NULL"
        data-icon=""
      />
    </div>
  </div>
  <br />
  <div class="text-center">
    <button
      type="button"
      (click)="_personChange(person)"
      class="btn btn-primary"
      style="margin-right: 10px;"
    >
      Xác nhận
    </button>
    <button
      type="button"
      (click)="_deletePerson(person)"
      class="btn btn-danger"
      style="margin-right: 10px;"
    >
      Xoá
    </button>
  </div>
  <br />
  <button type="button" class="btn btn-outline-info" (click)="show = !show">
    {{ show ? "Ẩn" : "Hiện" }}
  </button>
  <br />
  <br />
  <div *ngIf="show">
    <div class="form-group">
      <input
        class="form-control form-control-lg"
        id="name"
        placeholder="Tên thành viên"
        [(ngModel)]="newPerson.personName"
        [ngModelOptions]="{ standalone: true }"
      />
      <small id="emailHelp" class="form-text text-muted"
        ><i>Tên thành viên mới</i></small
      >
    </div>
    <div class="form-group text-center">
      <img [src]="previewUrl" style="height:120px; width:120px; " />
      <input
        style="display: none"
        class="form-control-file"
        type="file"
        (change)="onFileChanged2($event)"
        #fileInput2
      />
      <button
        class="form-control-file btn btn-outline-info"
        (click)="fileInput2.click()"
      >
        Select File
      </button>
    </div>
    <div class="text-center">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input inputsex"
          type="radio"
          name="sex2"
          [(ngModel)]="newPerson.personGender"
          value="male"
          [attr.checked]="newPerson.personGender == 'male' ? 'true' : NULL"
          data-icon=""
        />
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input inputsex"
          type="radio"
          name="sex2"
          [(ngModel)]="newPerson.personGender"
          value="female"
          [attr.checked]="newPerson.personGender == 'female' ? 'true' : NULL"
          data-icon=""
        />
      </div>
    </div>
    <br />
    <div class="row text-center" style="margin: 0">
      <div class="col-xs-4" style="margin: 0 1px">
        <button
          type="button"
          (click)="_addChild()"
          class="btn btn-primary"
          style="width: 60px;"
        >
          Con
        </button>
      </div>
      <div class="col-xs-4" style="margin: 0 1px">
        <button
          type="button"
          (click)="_addParent()"
          class="btn btn-primary"
          style="width: 90px;"
        >
          Phụ Huynh
        </button>
      </div>
      <div class="col-xs-4" style="margin: 0 1px">
        <button
          type="button"
          (click)="_addPartner()"
          class="btn btn-primary"
          style="width: 86px;"
        >
          Vợ/Chồng
        </button>
      </div>
    </div>
  </div>
</form>
